{% extends 'appTrakk/home.html'%}

{% block tituloform %}
<h1 class="mb-5"> Buscar Hallazgo </h1>
{%endblock tituloform%}

{%block formulario%}
<table class="table table-striped">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Estado</th>
        <tr>
    </thead>
    <tbody>
        {% for h in hallazgo %}
        <tr>
            <td>{{ h.name }}</td>
            <td>{{ h.descripcion }}</td>
            <td>{{ h.estado }}</td>
        </tr>
        {% endfor%}
    </tbody>
{%endblock formulario%}

{% block buscador %}
<form action="" method="post">
    {% csrf_token%}
    <table>
        {{form.as_table}}
    </table>
    <input type="submit" value="Buscar" class="btn btn-primary mt-3">
</form>
{%endblock buscador%}