{% extends 'appTrakk/home.html'%}

{% block tituloform %}
<h1> Agregar Feedback</h1>
{% endblock tituloform%}

{% block formulario %}
<form action="" metod="post">
    {% csrf_token %}
    <p> Nombre: <input type="text" name="name" id="name"></p>
    <p> Comentario: <input type="text" name="name" id="comentario"></p>
    <p> Correo: <input type="text" name="name" id="email"></p>
    <input type="submit" value="Enviar">
</form>
{% endblock formulario%}

{%block titulobuscar%}
<h1> Buscar Feedback</h1>
{%endblock titulobuscar%}

{%block buscar%}

{%endblock buscar%}