{% extends 'appTrakk/home.html'%}

{% block titulo %}
<h1 class="mb-5"> Agregar Hallazgo </h1>
{%endblock titulo%}


{% block navegador%}

{% endblock navegador%}

{% block contenido %}
<form action="" metod="post">
    <p> Hallazgo: <input type="text" name="Hallazgo" id="Hallazgo"></p>
    <p> Descripcion: <input type="text" name="Descripcion" id="Descripcion"></p>
    <p> Estado: <input type="text" name="Estado" id="Estado"></p>
    <input type="sumbit" value="Enviar">
</form>
{% endblock contenido%}